body {
  font-family: "Open-Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
  font-family: "GFS-Didot", serif;
  font-style: italic;
}

h2 {
  color: #93701F;
}

/*
.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
*/

.card-title {
  color: black;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-width: 200px;
}

.site-footer {
  background-image: linear-gradient(#B5B57B, white);
  padding: 20px 0;
}

.site-footer a {
  color: #4F1B05;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right,#4F1B05, #B5B57B);
  color: #EAD38D;
}

.jumbotron h2 {
  color: #EAD38D;
}

.navbar-dark {
  background-color: #353502;
}

.contact-link a {
  color: #4F1B05;
}